@import "fonts";
@import "palette";
@import "mq";
@import "grid-system";
@import "general";
@import "share";


$maincolour: #4bc6df;

// Remove <figure> margin
.interactive {
  
#mobile-dummy {
  position: absolute; 
  display: block;
  height: 0;
  width: 0;
      @include mq(mobileLandscape){
           display: none;;
      } 
   }

select:focus, button:focus { outline: none; }

a {
  color: #005689;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.gv-transition {
  transition: all 0.3s;
    -moz-transition: all 0.3s; /* Firefox 4 */
    -webkit-transition: all 0.3s; /* Safari and Chrome */
    -o-transition: all 0.3s; /* Opera */
}

.gv-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

}

.interactive-container {
   
   div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1em;
}

#gv-main-content-wrapper {
    
    width: 100%;
    // overflow: hidden;

#gv-main-content {
    
    //width:calc(100% + 20px);
    
}
} 
} // end interactive-container


// ********** MAIN BREAKPOINT CSS ***************

.interactive-container {
// mq mobile

.gv-text {
    font-family: "Guardian Egyptian Web";
    font-size: 18px;
    line-height: 24px;
    font-weight: 200;
    color: #767676;     
}

.gv-quote-text {
   padding-bottom: 20px; 
}

.gv-large-text .gv-quote-text {
    font-family: "Guardian Egyptian Web";
    font-size: 26px;
    line-height: 30px;
    font-weight: 200;
    color: #4bc6df;
}

.gv-source-text { 
    color: #767676;
    font-weight: 400;
    padding-bottom: 10px;
    padding-top: 4px;
    line-height: 1.2em;
    padding-top: 0px;
}

.gv-expand-quote-button { 
    cursor: pointer;
    border: none;
    background: #dcdcdc;
    color: #fff;
    font-family: Guardian Text Sans Web,Arial,sans-serif;
    font-size: 16px;
    padding: 4px 12px 4px 12px;
    border-radius: 12px;
    margin: 12px 0 12px 0;
}

@include mq(tablet){
     
     .gv-text {
     font-size: 24px;
     line-height: 31px;  
    }
    
    .gv-large-text .gv-quote-text {
     font-size: 36px;
     line-height: 40px;
}
        
}   
    
@include mq(desktop){
   
}
    
@include mq(leftCol){
    
}

@include mq(wide){
    
}

}








// QUOTE BLOCK STYLING

// BASE QUOTE BLOCK

.interactive-container .gv-quote-block {
    position: relative;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    background: #fff;
    // overflow: hidden;
    margin-top: gs-height(1);
    
     .gv-quote-group {
        width: 100%;
    }
    
       .gv-quote-image-holder {
     background: #dcdcdc;
     overflow: hidden;
 }
 
  .gv-quote-image-holder img {
     width: 100%;
 }
 
  
    
     .gv-quote-block-inner {
        //  margin-right: 20px;
         border-top: 1px solid #efefef;
     }
    
    .gv-quote-mark {
        fill: #bcbcbc;
        width: 80px;
        height: 38px;
        margin-top: 12px;
    }
    
    &.gv-quote-block-pullquote {
         border-top: 1px solid #4bc6df;
         .gv-quote-mark {
        fill: #4bc6df;
        
    }
        .gv-expand-quote-button, .gv-fullquote, .gv-gradient-fade {
        display: none!important;
    }
    }
    
    // STANDARD QUOTE BLOCK
    
     &.gv-quote-block-standard {
         
    @include mq(desktop){
    width:gs-span(5);
    margin-left: gs-span(1) + $gs-gutter;
    }
    
     @include mq(leftCol){
    width:gs-span(6);
    margin-left: gs-span(1) + $gs-gutter;
    }
    
    &.gv-block-indent {
     @include mq(wide){
    margin-left: gs-span(2) + $gs-gutter;
    }
    }
    
     }
     
    // WIDE QUOTE BLOCK
   
    &.gv-quote-block-wide {
    width:100%;
    
     @include mq(desktop){
    width:gs-span(11);
    padding-left: gs-span(1) + $gs-gutter;
    
        .gv-quote-group {
        width: gs-span(10);
    }
    
      &.gv-with-image {
         .gv-quote-group {
        width: gs-span(8);
    }
      }
    
    }
    
    @include mq(leftCol){
    width:gs-span(13);
    padding-left: gs-span(1) + $gs-gutter;
    
        .gv-quote-group {
        width: gs-span(13);
    }
    
     &.gv-with-image {
         .gv-quote-group {
        width: gs-span(10);
    }
    }
    
    }
    
     @include mq(wide){
    width:gs-span(13);
    padding-left: gs-span(2) + $gs-gutter;
    
     .gv-quote-group {
        width: gs-span(13);
    }
    
    &.gv-with-image {
         .gv-quote-group {
        width: gs-span(10);
    }
    }
    }
    
     .gv-quote-image-holder {
        width: 160px;
     height: 160px;
     border-radius: 50%;
     float: right;
     margin-left: 20px;
     margin-bottom: 20px;
     margin-top: 20px;
       @include mq(tablet){
         width: 220px;
     height: 220px;
    }
    }
    
    
   
    
    }
    
    // WIDE HIGHLIGHTED QUOTE BLOCK
    
     &.gv-quote-block-wide-highlighted {
    width:100%;
    padding-top: 24px;
   padding-bottom: 24px;
    background-color: $maincolour;
    
    &.gv-with-image {
        .gv-quote-group {
        padding-top: 100px;
        @include mq(mobileLandscape){
        
        padding-top: 0;
       
    }
    }
     
    }
    
      .gv-quote-block-inner {
       position: relative;
       padding-left: 0;
       padding-top: 80px;
       border-top: none;
       
       
       @include mq(mobileLandscape){
        padding-left: gs-span(1) + $gs-gutter;
        padding-top: 20px;
    }
    
     @include mq(desktop){
        padding-left: gs-span(2) + $gs-gutter;
        padding-top: 20px;
    }
       
    }
    
      .gv-gradient-fade {
        display: none!important;
    }
    
    .gv-expand-quote-button {
        display: none;
    }
    
    
    &.gv-large-text .gv-quote-text {
        color: #fff;
        overflow: hidden;    
    }
    
    .gv-quote-mark {
        fill: #fff;
          width: 80px;
        height: 38px;
         position: absolute;
         left: 0;
         top: 10px;
         
           @include mq(desktop){
       width: 160px;
         height: 76px;
    }
    }
    
    .gv-quote-image-holder {
       position: absolute;
        width: 160px;
     height: 160px;
     position: absolute;
     border-radius: 50%;
     right: 0;
     top: 0;
    
       @include mq(mobileLandscape){
     float: right;
     margin-left: 20px;
     margin-bottom: 20px;
     position: static;
     width: 220px;
     height: 220px;
    }
    }
    
     @include mq(desktop){
    width:gs-span(9);
    padding-left: gs-span(1) + $gs-gutter;
    
        .gv-quote-group {
        width: gs-span(9);
    }
     &.gv-with-image {
         .gv-quote-group {
        width: gs-span(8);
    }
    }
    }
    
     @include mq(leftCol){
    width:gs-span(11);
    padding-left: gs-span(1) + $gs-gutter;
    
        .gv-quote-group {
        width: gs-span(11);
    }
     &.gv-with-image {
         .gv-quote-group {
        width: gs-span(11);
    }
    }
    }
    
    @include mq(wide){
    width:gs-span(11);
    padding-left: gs-span(1) + $gs-gutter;
    
        .gv-quote-group {
        width: gs-span(12);
    }
    }
    
    

    
     }
     
   
    

    

    
    
    
    .gv-fullquote {
        // height: 0;
        // overflow: hidden;
        // padding-top: 10px;
    }
    
    strong {
        font-weight: 500;
    }
    
    &:hover {
        // background: #edf9fc;
    }
    
    .gv-p-more {
        display: none;
    }
    
    .gv-p-less {
        display: block;
    }
    
    &.gv-collapsed {
    .gv-fullquote {
         height: auto;
        
    }
    
    
    .gv-gradient-fade {
        display: block;
    }
    
     .gv-p-more {
        display: block;
    }
    
    .gv-p-less {
        display: none;
    }
    
    
}



}

.gv-fill-margins {
    margin-left: 0 - $gs-gutter!important;
    padding-left: $gs-gutter!important;
    padding-right: $gs-gutter!important;
    width: 100%!important;
    // padding-left: 0 - $gs-gutter!important;
}

.gv-gradient-fade {
    display: none;
    width: 100%;
    height: 0;
    position: relative;
    .gv-fade-inner {
    height: 100px;
    width: 100%;
    position: absolute;
    top: -100px;
    background: -moz-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0 ); /* ie6-9 */
    }
}


// .gv-fill-margins .gv-quote-block-inner {
//     margin-left: 0 - gs-span(1) - ($gs-gutter*2);
//     padding-left: gs-span(1) + ($gs-gutter*2);
//     margin-right: 0 - ($gs-gutter);
//     @include mq(desktop){
    
//     }
// }


// .interactive-container .gv-quote-block:before {
//     position: absolute;
//     top: 0;
//     left:-50px;
//     width: 50px;
//     height: 50px;
//     background: #000;
// }


.gv-collapsed {
/* Begin required CSS. */
.line-clamp
{
	display            : block;
	display            : -webkit-box;
	-webkit-box-orient : vertical;
	position           : relative;

	line-height        : 1.2;
	overflow           : hidden;
	text-overflow      : ellipsis;
	padding            : 0 !important;
}
.line-clamp:after
{
	content    : '...';
	text-align : right;
	bottom     : 0;
	right      : 0;
	width      : 25%;
	display    : block;
	position   : absolute;
	height     : calc(1em * 1.2);
	background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
}
@supports (-webkit-line-clamp: 1)
{
	.line-clamp:after
	{
		display : none !important;
	}
}
.line-clamp-1
{
	-webkit-line-clamp : 1;
	height             : calc(1em * 1.2 * 1);
}
.line-clamp-2
{
	-webkit-line-clamp : 2;
	height             : calc(1em * 1.2 * 2);
}
.line-clamp-3
{
	-webkit-line-clamp : 3;
	height             : calc(1em * 1.2 * 3);
}
.line-clamp-4
{
	-webkit-line-clamp : 4;
	height             : calc(1em * 1.2 * 4);
}
.line-clamp-5
{
	-webkit-line-clamp : 5;
	height             : calc(1em * 1.2 * 5);
}
/* End required CSS. */
}

@include mq(leftCol){


.gv-1-col-width {
    width: gs-span(1)!important; 
}

.gv-2-col-width {
    width: gs-span(2)!important; 
}

.gv-3-col-width {
    width: gs-span(3)!important; 
}

.gv-4-col-width {
    width: gs-span(4)!important; 
}

.gv-5-col-width {
    width: gs-span(5)!important; 
}

.gv-6-col-width {
    width: gs-span(6)!important; 
}

.gv-7-col-width {
    width: gs-span(7)!important; 
}

.gv-8-col-width {
    width: gs-span(8)!important; 
}

.gv-9-col-width {
    width: gs-span(9)!important; 
}

.gv-10-col-width {
    width: gs-span(10)!important; 
}

}

@include mq(tablet){

.gv-0-col-indent {
    margin-left: $gs-gutter!important;
}

.gv-1-col-indent {
    margin-left: gs-span(1) + $gs-gutter!important;
}

.gv-2-col-indent {
    margin-left: gs-span(2) + $gs-gutter!important;
}

.gv-3-col-indent {
    margin-left: gs-span(3) + $gs-gutter!important;
}

.gv-4-col-indent {
    margin-left: gs-span(4) + $gs-gutter!important;
}

.gv-5-col-indent {
    margin-left: gs-span(5) + $gs-gutter!important;
}

.gv-6-col-indent {
    margin-left: gs-span(6) + $gs-gutter!important;
}

.gv-7-col-indent {
    margin-left: gs-span(7) + $gs-gutter!important;
}

.gv-8-col-indent {
    margin-left: gs-span(8) + $gs-gutter!important;
}

.gv-9-col-indent {
    margin-left: gs-span(9) + $gs-gutter!important;
}

.gv-10-col-indent {
    margin-left: gs-span(10) + $gs-gutter!important;
}



}

.gv-quote-block-image {
     .gv-expand-quote-button, .gv-source-text, .gv-pullquote, .gv-fullquote, .gv-gradient-fade, .gv-quote-mark {
        display: none!important;
    }
    .gv-quote-block-inner {
        border: none!important;
    }
    
    width: 100%;
    
    .gv-quote-image-holder {
    width: 100%;
    @include mq(desktop){
        
    }
    }
    
}